/* main-layout */
.body {
    margin-top: calc(var(--header-height) + 20px);
    margin-bottom: 20px;
}

/* custome main-nav */
header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* custome main-nav Search bar */
.search-bar {
    flex: 1;
}

/* custome main-nav subnav */
.cus-subnav {
    display: flex;
    flex-wrap: nowrap;
    min-width: var(--header-subnav-width);
}

.cus-subnav > li + li {
    margin-left: 6px;
}

/* sticky-sidebar */
.sticky-sidebar {
    position: sticky;
    top: calc(var(--header-height) + 20px);
    z-index: 2;
    width: 280px;
    max-width: 100%;
}
