* {
    box-sizing: border-box;
}

.form-control:focus,
.btn:focus {
    box-shadow: none;
}

/* Ripple effect */
.ripple {
    position: relative;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1.2s ease;
}

.ripple:active::after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}

/* bar effect */
span.bar {
    position: relative;
    display: block;
    width: 100%;
}

span.bar::before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #0d6efd;
    transition: all 0.3s ease-in-out;
    left: 0%;
}

input:focus ~ span.bar::before {
    width: 100%;
}
