@media (max-width: 576px) {
    .res-hide {
        display: none;
    }
}

@media (min-width: 576px) {
}

@media (max-width: 768px) {
    .res-hide-md {
        display: none;
    }
}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
    .res-hide-lg {
        display: none !important;
    }

    .res-dis-lg {
        display: block !important;
    }
}

@media (min-width: 992px) {
}

@media (max-width: 1200px) {
    .res-hide-xl {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-2-5 {
        flex: 0 0 auto;
        width: 20%;
    }
}

/* @media (min-width: 1400px) {
    
} */
