:root {
    --header-height: 80px;
    --logo-width: 180px;
    --header-subnav-width: 180px;
    --search-bar-width: calc(100vw - var(--logo-width) - var(--header-subnav-width));

    --primary-color: #0d6efd;
    --muted-color: #6c757d;
    --white-color: #fff;
}

.form-control:focus,
.btn:focus,
.btn-close:focus {
    box-shadow: none;
}

p {
    margin: 0 !important;
}

small {
    font-size: 0.8rem !important;
}

.is-invalid:focus {
    border: none !important;
    box-shadow: none !important;
}

.invalid-feedback {
    font-size: 0.8rem;
}

/* Ripple effect */
.ripple {
    position: relative;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1.2s ease;
}

.ripple:active::after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}

/* cus-input-group */
.cus-input-group {
    position: relative;
    margin-top: 24px;
    min-height: 46px;
}

.cus-input-group-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.cus-input-group-label {
    position: absolute;
    color: var(--muted-color);
    pointer-events: none;
    left: 12px;
    top: 6px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.cus-input-group-input:focus ~ .cus-input-group-label {
    top: -16px;
    color: var(--primary-color);
    font-size: 0.8rem;
}

.cus-input-group-input:valid ~ .cus-input-group-label {
    top: -16px;
    font-size: 0.8rem;
}

.cus-input-group-bar {
    position: relative;
    display: block;
    width: 100%;
}

.cus-input-group-bar::before {
    content: "";
    height: 1.6px;
    width: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    left: 0%;
}

.cus-input-group-input:focus ~ .cus-input-group-bar::before,
.cus-input-group-input:valid ~ .cus-input-group-bar::before {
    width: 100%;
}

.cus-input-group-input--password,
.cus-input-group-input--password.is-invalid {
    padding-right: 60px;
}

.cus-input-group .show-hide-password-icon {
    position: absolute;
    top: 11px;
    right: 31px;
    padding: 1px;
    cursor: pointer;
}

/* z-index */
.fixed-top {
    z-index: 3;
}

/* modal */
.modal-backdrop {
    display: none;
}

.cus-modal-dialog {
    z-index: 5;
}

.cus-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: none;
}

.cus-modal.show ~ .cus-modal-backdrop {
    opacity: 0.5;
    display: unset;
}

.cus-modal-dialog .modal-footer {
    border-top: 0;
}

.cus-modal-dialog .modal-header {
    /* border-bottom: 0; */
    align-items: start;
}

.cus-modal-dialog .modal-body {
    padding-top: 0;
    /* padding-bottom: 0; */
}

.cus-dialog {
    animation: show 0.6s ease;
}

.cus-dialog ~ .cus-modal-backdrop {
    animation: fade 0.6s ease;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* decoration-paragraph */
.cus-decoration-paragraph {
    text-align: center;
    position: relative;
}

.cus-decoration-paragraph-p {
    display: inline-block;
    background-color: var(--white-color);
    padding: 0 16px;
    position: relative;
    z-index: 2;
}

.cus-decoration-paragraph::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
    height: 1px;
    background-color: var(--muted-color);
}

/* No select */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* social */
.btn--with-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-img {
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
}

/* cus loading */
.cus-loading {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.cus-loading.small .cus-loading-circle {
    width: 1.6rem;
    height: 1.6rem;
    top: -40%;
}

.cus-loading-circle {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.cus-position-relative {
    position: relative !important;
    min-height: 20px;
}

/* drop-down */
.cus-dropdown {
    position: relative;
    display: inline-block;
}

.cus-dropdown i {
    display: inline-block;
    padding: 0 4px;
    color: var(--muted-color);
}

.cus-dropdown-btn {
    position: relative;
    z-index: 1;
    min-width: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 0;
}

.cus-dropdown:hover .cus-dropdown-btn,
.cus-dropdown:hover .cus-dropdown-btn i,
.cus-dropdown-menu.show ~ .cus-dropdown-btn,
.cus-dropdown-menu.show ~ .cus-dropdown-btn i {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.cus-dropdown-btn span {
    display: block;
    flex: 1;
    margin-right: 16px;
}

.cus-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--white-color);
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cus-dropdown-menu-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.cus-dropdown-menu-item i {
    display: block;
    width: 28px;
    color: var(--muted-color);
    margin-right: 2px;
}

.cus-dropdown-menu-item:hover,
.cus-dropdown-menu-item:hover i {
    color: var(--primary-color);
}

.cus-dropdown-menu.show {
    display: block;
}
