:root {
    --header-height: 80px;
    --logo-width: 180px;
    --header-subnav-width: 180px;
    --search-bar-width: calc(100vw - var(--logo-width) - var(--header-subnav-width));

    --primary-color: #0d6efd;
    --muted-color: #6c757d;
    --high-muted-color: #eaeaea;
    --white-color: #fff;
    --black-color: #000;
}

/* boostrap */
.form-control:focus,
.btn:focus,
.btn-close:focus {
    box-shadow: none;
}

p {
    margin: 0 !important;
}

small {
    font-size: 0.8rem !important;
}

.is-invalid:focus {
    border: none !important;
    box-shadow: none !important;
}

.invalid-feedback {
    font-size: 0.8rem;
}

.fixed-top {
    z-index: 3;
}

/* No select text */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Ripple effect for button */
.ripple {
    position: relative;
    overflow: hidden;
}
.ripple:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1.2s ease;
}

.ripple:active::after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.cus-navbar-brand {
    display: block;
    min-width: var(--logo-width);
}

.logo {
    text-transform: uppercase;
    font-size: 32px;
    font-family: "Luckiest Guy", cursive;
    display: block;
    min-width: var(--logo-width);
}

/* search bar */

.search-bar input.form-control {
    border: 0;
}

.search-bar input.form-control {
    margin-left: 0 !important;
}

.search-bar .cus-dropdown-btn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 1px solid var(--muted-color);
}

/* sign-in-item */
.sign-in-item {
    cursor: pointer;
}

/* your accout */
.your-account {
    display: block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.your-account-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.your-account-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.your-account-name {
    font-size: 0.9rem;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--white-color);
}

.your-account-options {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.your-account-options::before {
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    top: -5%;
    /* background-color: red; */
    left: 0;
    cursor: pointer;
}

.your-account-options::after {
    content: "";
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
    z-index: -1;
}

.your-account:hover .your-account-options {
    display: block;
}

.your-account-options-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    white-space: nowrap;
}

.your-account-options-item:hover,
.your-account-options-item:hover i {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.your-account-options-item i {
    display: block;
    font-size: 1.2rem;
    width: 24px;
    margin-right: 2px;
}

/* cus-input-group */
.cus-input-group {
    position: relative;
    margin-top: 24px;
    min-height: 46px;
}

.cus-input-group-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.cus-input-group-label {
    position: absolute;
    color: var(--muted-color);
    pointer-events: none;
    left: 12px;
    top: 6px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.cus-input-group-input:focus ~ .cus-input-group-label {
    top: -16px;
    color: var(--primary-color);
    font-size: 0.8rem;
}

.cus-input-group-input:valid ~ .cus-input-group-label {
    top: -16px;
    font-size: 0.8rem;
}

.cus-input-group-bar {
    position: relative;
    display: block;
    width: 100%;
}

.cus-input-group-bar::before {
    content: "";
    height: 1.6px;
    width: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    left: 0%;
}

.cus-input-group-input:focus ~ .cus-input-group-bar::before,
.cus-input-group-input:valid ~ .cus-input-group-bar::before {
    width: 100%;
}

.cus-input-group-input--password,
.cus-input-group-input--password.is-invalid {
    padding-right: 60px;
}

.cus-input-group .show-hide-password-icon {
    position: absolute;
    top: 11px;
    right: 31px;
    padding: 1px;
    cursor: pointer;
}

/* modal */
.modal-backdrop {
    display: none;
}

.cus-modal-dialog {
    z-index: 5;
}

.cus-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: none;
}

.cus-modal.show ~ .cus-modal-backdrop {
    opacity: 0.5;
    display: unset;
}

.cus-modal-dialog .modal-footer {
    border-top: 0;
}

.cus-modal-dialog .modal-header {
    /* border-bottom: 0; */
    align-items: start;
}

.cus-modal-dialog .modal-body {
    padding-top: 0;
    /* padding-bottom: 0; */
}

/* dialog */
.cus-dialog {
    animation: show 0.6s ease;
}

.cus-dialog ~ .cus-modal-backdrop {
    animation: fade 0.6s ease;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

/* decoration-paragraph */
.cus-decoration-paragraph {
    text-align: center;
    position: relative;
}

.cus-decoration-paragraph-p {
    display: inline-block;
    background-color: var(--white-color);
    padding: 0 16px;
    position: relative;
    z-index: 2;
}

.cus-decoration-paragraph::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
    height: 1px;
    background-color: var(--muted-color);
}

/* social */
.btn--with-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-img {
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
}

/* cus loading */
.cus-loading {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.cus-loading.large .cus-loading-circle {
    top: 50%;
}

.cus-loading.small .cus-loading-circle {
    width: 1.6rem;
    height: 1.6rem;
    top: -40%;
}

.cus-loading-circle-animation {
    width: 100%;
    height: 100%;
    animation: show 0.6s ease;
}

.cus-loading-circle {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

/* for loading */
.cus-position-relative-loading {
    position: relative !important;
    min-height: 20px;
}

/* drop-down */
.cus-dropdown {
    position: relative;
    display: inline-block;
}

.cus-dropdown i {
    display: inline-block;
    padding: 0 4px;
}

.cus-dropdown-btn {
    position: relative;
    z-index: 1;
    min-width: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 0;
}

.cus-dropdown:hover .cus-dropdown-btn,
.cus-dropdown-menu.show ~ .cus-dropdown-btn,
.cus-dropdown:hover .cus-dropdown-btn i,
.cus-dropdown-menu.show ~ .cus-dropdown-btn i {
    color: var(--primary-color);
    border-color: var(--primary-color);
    /* background-color: var(--high-muted-color); */
}

.cus-dropdown-btn span {
    display: block;
    margin: 0 16px 0 4px;
}

.cus-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--white-color);
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cus-dropdown-menu-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.cus-dropdown-menu-item i {
    display: block;
    width: 28px;
    margin-right: 2px;
}

.cus-dropdown-menu-item:hover,
.cus-dropdown-menu-item:hover i {
    color: var(--white-color);
    /* border-color: var(-  -white-color); */
    background-color: var(--primary-color);
}

.cus-dropdown-menu.show {
    display: block;
}

/* btn outline */
.cus-outline.btn-outline-light {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
}

.cus-outline.btn-outline-light i {
    color: var(--white-color);
}

.cus-outline.btn-outline-light:hover {
    background-color: #0b5ed7 !important;
}

/* cus tooltip, need wrap in div.position-relative */
.cus-tooltip-msg {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1px 6px;
    border-radius: 4px;
}
.cus-tooltip-msg::after {
    content: "";
    position: absolute;
    top: -46%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px;
    border-style: solid;
    border-color: transparent transparent var(--black-color) transparent;
}

.cus-tooltip:hover ~ .cus-tooltip-msg {
    display: block !important;
}

/* avatar */
.cus-avatar-wrap {
    text-align: center;
}

.cus-avatar--custiomize {
    display: inline-block;
    position: relative;
}

.cus-avatar {
    width: 152px;
    height: 152px;
}

.cus-avatar-icon {
    position: absolute;
    bottom: 6%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.cus-avatar-icon:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.cus-sidebar-item {
    display: block;
    margin: 1px 0;
    line-height: 46px;
    padding: 0 16px;
}

.cus-sidebar-item:hover {
    color: var(--white-color) !important;
    background-color: var(--primary-color);
}

.cus-sidebar-item.cus-sidebar-item--pink:hover {
    background-color: #ed4956;
}

.cus-sidebar-item.cus-sidebar-item--funny:hover {
    background-color: #2ddfff;
}

.cus-sidebar-item.cus-sidebar-item--golden:hover {
    background-color: #ffd700;
}

/* color link */
.link-pink {
    color: #ed4956;
}

.nav-pills .nav-link.active-pink {
    color: #fff;
    background-color: #ed4956;
}

.link-funny {
    color: #2ddfff;
}

.nav-pills .nav-link.active-funny {
    color: #fff;
    background-color: #2ddfff;
}

.link-golden {
    color: #ffd700;
}

.nav-pills .nav-link.active-golden {
    color: #fff;
    background-color: #ffd700;
}
